
.bgmodal {
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 900;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    overflow: auto;
    animation: insideUp 1.5s forwards;
}

.modalbody {
    padding: 20px;
    background-color: white;
    margin: 40px;
}

body .modal-open {
    /*esconder el scroll del sitio*/
    overflow: hidden;
}

/*Keyframes*/
@keyframes insideUp {
    from {
        top: 60%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}