<div class="modal">
    <div class="modalbody">
        <ng-content></ng-content>
    </div>
</div>
<!-- siempre debe ir al final para que se sobreponga sobre toda la pagina -->
<div class="bgmodal"></div>