.wrapper {
    transform: translateX(-100%);
    position: absolute;
    top: 5%;
    left: 97%;
    z-index: 1000;
}

.addMarkerButton {
    transform: translateX(-15px);
    display: inline-block;
}

.addMarkerButton button {
    font-size: 25px;
    padding: 0px 7px;
    border: none;
    border-radius: 50%;
    color: white;
    font-family: sans-serif;
    background-color: #314c90d6;
}

.addMarkerButton button:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.addMarkerButton button:hover {
    background-color: #35529aa3;
    cursor: pointer;
}

#addbtn:after {
    content: "";
    background: #a0a0a0;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 100%;
    margin-left: -6px!important;
    margin-top: -110%;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.8s
}

#addbtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.addMarkerForm {
    /* transform: translateX(-90%); */
    margin-top: 10px;
    padding: 10px;
    border: solid 2px #2d2d5d;
    border-radius: 5px;
    background-color: #5f5f5f3b;
}

.addMarkerForm form input {
    padding: 3px;
    margin-top: 5px;
}

.addMarkerForm form input:first-child {
    margin-bottom: 2px;
    margin-top: 0;
}

.addMarkerForm form input:focus {
    outline-color: #2d2d5d;
}

h4 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

input[type=file] {
    display: none;
}

form img {
    width: 50%;
    margin: 10px auto;;
    display: block;
}

form img:hover {
    cursor: pointer;
}

.btn {
    padding: 10px;
    margin: 0 auto;
    width: 65%;
    display: grid;
    margin-top: 5px;
    background-color: #2d2d5d;
    border-radius: 5px;
    border: 0px solid transparent;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.organizebtns {
    display: grid;
}
