<div class="wrapper">
    <div *ngIf="!createmarkerServices.create" class="addMarkerButton">
        <button #addbtn (click)="addMarkerForm()">+</button>
    </div>
    <div #formContent *ngIf="createmarkerServices.create" class="addMarkerForm">
        <form (ngSubmit)="createdMarker()">
            <input type="text" name="" value={{title}} (input)='title = $event.target.value' placeholder="Titulo*">
            <input type="text" name="" value={{description}} (input)='description = $event.target.value' placeholder="Decripción">
            <input type="number" name="" value={{latitude}} (input)='latitude = $event.target.value' placeholder="Latitud*">
            <input type="number" name="" value={{longitude}} (input)='longitude = $event.target.value' placeholder="Longitud*">
            <h4>Agregar una imagen*</h4>

            <input type="file" (change)="imageSelected($event)" #imageinput>

            <img [src]="imgSelected || '../../../assets/pictures.png'" id="imgform" alt="can't be read the image"
                (click)="imageinput.click()">
            <button class="btn">
                Agrear marker
            </button>
        </form>
        <button (click)="addMarkerForm()" class="btn">
            Cancelar
        </button>
    </div>
</div>

<app-modal id="modalAddedMarker" style="display: none;">
    <p id="modalParagraph"></p>
    <button (click)="modalService.close('modal-1');">cerrar modal</button>
</app-modal>