<app-nav-bar></app-nav-bar>
<div class="card" *ngFor="let marker of markers; index as i">
    <div class="table" >
        <div class="col colInfo">
            <div class="row">
                <p *ngIf="!onEdit[i]" [id]="'title P'+ i">{{marker.title}}</p>
                <input *ngIf="onEdit[i]" type="text" [id]="'title'+ i" value={{marker.title}} (input)='marker.title = $event.target.value'>
                <p>Titulo</p>
            </div>
            <div class="row">
                <p *ngIf="!onEdit[i]" [id]="'description P'+ i">{{marker.description}}</p>
                <input *ngIf="onEdit[i]" type="text" [id]="'description'+ i" value={{marker.description}} (input)='marker.description = $event.target.value'>
                <p>Descripción</p>
            </div>
            <div class="row">
                <div class="col">
                    <p *ngIf="!onEdit[i]" [id]="'latitude P '+ i">{{marker.latitude}}</p>
                    <input *ngIf="onEdit[i]" type="number" [id]="'latitude'+ i" value={{marker.latitude}} (input)='marker.latitude = $event.target.value'>
                    <p>Latitud</p>
                </div>
                <div class="col">
                    <p *ngIf="!onEdit[i]" [id]="'longitude P '+ i">{{marker.longitude}}</p>
                    <input *ngIf="onEdit[i]" type="number" [id]="'longitude'+ i" value={{marker.longitude}} (input)='marker.longitude = $event.target.value'>
                    <p>Longitud</p>
                </div>
            </div>
        </div>
        <div class="col centerCol">
            <input type="file" (change)="imageSelected($event)" #imageinput>
            <img class="disableImage" [id]="'image'+ i" [src]="marker.pathImage || '../../../assets//pictures.png'" alt="" (click)="imageinput.click()">
            <div class="center">
                <button [id]="'btnCancelAndDelete'+ i" (click)="action(this.$event.target.value, i)" value="Eliminar" >Eliminar</button>
                <button [id]="'btnEditAndSave'+ i"  (click)="action(this.$event.target.value, i)" value="Editar" >Editar</button>
            </div>
        </div>
    </div>
</div>