* {
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    padding: 2%;
    border: 1px solid #5d00ff;
    border-radius: 5px;
    width: 50%;
    margin: 8px 0 12px 8px;
}

.table {
    display: table;
    width: 100%;
}

.row {
    width: 100%;
}

.col {
    display: table-cell;
    margin: 2px;
    height: 20px;
}

.colInfo {
    padding-left: 10px;
}

.centerCol {
    vertical-align: middle;
    width: 35%;
}

.col > img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.col > h5 {
    margin: 0 15px;
}

.colInfo input {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
    word-break: break-all;
}

.disableImage {
    pointer-events: none;
}

.col > input:first-child {
    margin-right: 5px;
}

.colInfo [id^="title"] {
    font-size: 1.5em;
    width: 100%;
    font-weight: 100;
}

.colInfo .row p:first-child {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.colInfo [id~="P"] {
    font-size: 13.33px;
    width: 130px !important;
    padding-left: 5px;
}

.colInfo .row .col:last-child {
    margin-left: 5px;
}

.colInfo > .row {
    margin-bottom: 15px;
}

.colInfo [id^="description"] {
    font-size: 1em;
    max-width: 300px;
}

.colInfo .row .col:last-child p {
    margin: 0 0 0 10px;
}

.colInfo p {
    margin: 0;
}

.colInfo input:focus {
    outline: none;
    border-bottom: 1px solid #5d00ff;
}

.centerCol input[type=file] {
    display: none;
}

.centerCol img:hover {
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 0 auto;
    margin-top: 0px;
    width: 35%;
    margin-top: 5px;
    background-color: #2d2d5d;
    border-radius: 5px;
    border: 0px solid transparent;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.center {
    display: flex;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}


@media only screen and (max-width: 1024px) {
    .card {
        border-radius: 5px;
        width: 90%;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 650px) {
    
    .row {
        width: 99%;
    }

    .colInfo {
        max-width: none;    
    }

    .colInfo [id^="description"] {
        font-size: 1em;
        max-width: none;
    }

    .colInfo .row:last-child .col {
        display: contents;
    }

    .colInfo .row:last-child .col p {
        width: 100% !important;
    }

    .colInfo .row .col:last-child p {
        margin: 0;
    }

    .colInfo [id^="title"] {
        max-width: none;
    }

    .col {
        display: table-row;
    }
}