.wraper {
    width: 100%;
    top: 0px;
    height: 60px;
    background-color: #5d00ff;
    margin-bottom: 2px;
}

.arrow {
    width: 60px;
    height: 60px;
}

.arrow img {
    width: 85%;
    color: white;
    font-size: 1em;
    padding: 5px;
}

.arrow img:hover {
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .wraper {
        height: 45px;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }
}