.mapWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
}

.mapborder {
    height: 100%;
}

#mapid {
    height: 90%;
    border-radius: 5px;
}

.goMerkers {
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 20%;
    background-color: #2d2d5d;
    padding: 6px;
}

.goMerkers a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: block;
}

.goMerkers a:hover {
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 1.3em;
    margin: 3px;
}


@media screen and (max-width: 1025px) {
    .goMerkers {
        width: 70%;
    }
    
    .goMerkers a {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 600px) {
    
    .goMerkers {
        width: -webkit-fill-available;
    }

    .goMerkers a {
        font-size: 1.1em;
    }
}
