<div class="mapWrapper">
    <div class="mapborder">
        <div id="mapid"></div>
    </div>
</div>
<div class="goMerkers">
    <a routerLink="/Markers">Lista de lugares</a>
</div>
<app-addmarkers style="z-index: 10;"></app-addmarkers>